.sin{
	margin:0;
	padding:0;
	width:288px;
	background:transparent;
	float:left;
}
.des{
	margin:0;
	padding:0;
	width:265px;
	float:right;
	text-align:right;
}

h1{
	font-size:50px;
	margin: 0;
	}
h2{
	font-size:40px;
	margin: 0;
	color: Grey;
	}